.appointment-div-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.ul-appoint-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.no-appointment {
  text-align: center;
  font-size: 20px;
  color: #4251f5;
  font-family: "Roboto";
  font-weight: 500;
}
